What are like-to-view ratios for US and CA citizens with the last answer (rows with the same video_id and trending_date were dropped) and such data:

Please write the whole calculation, so I understand which dates and videos were used.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data2.csv', 
                 parse_dates=['date'],
                 dayfirst=True,
                )
df

         date country    video  views  likes
0  2022-01-01      US  Video_A   1000      1
1  2022-01-01      CA  Video_B   1000    100
2  2022-01-02      CA  Video_B   2000    200
3  2022-01-03      CA  Video_B   3000    300
4  2022-01-04      CA  Video_B   4000    400
5  2022-01-05      CA  Video_B   5000    500
6  2022-01-06      CA  Video_B   6000    600
7  2022-01-07      CA  Video_B   7000    700
8  2022-01-08      CA  Video_B   8000    800
9  2022-01-09      CA  Video_B   9000    900
10 2022-01-10      US  Video_B   1000    901

**In this dataset, the video in the last 10 lines for the US has 1000 views, although the same video for Canada on the previous day had 9000 views.
Therefore, the views are divided by country. So we can keep the same video for different countries.**

In [3]:
df_last = df.drop_duplicates(subset=['country', 'video'], keep='last')
df_last

         date country    video  views  likes
0  2022-01-01      US  Video_A   1000      1
9  2022-01-09      CA  Video_B   9000    900
10 2022-01-10      US  Video_B   1000    901

**Summing up the likes and views by country**

In [4]:
df_group = df_last.groupby(by=['country']).agg('sum')
df_group

         views  likes
country
CA        9000    900
US        2000    902

**Calculate the ratio of likes to views by country.**

In [5]:
df_group['like / view'] = df_group['likes'] / df_group['views']
df_group

         views  likes  like / view
country
CA        9000    900        0.100
US        2000    902        0.451