What are like-to-view ratios for US and CA citizens with the last answer (rows with the same video_id and trending_date were dropped) and such data:

Please write the whole calculation, so I understand which dates and videos were used.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data.csv', 
                 parse_dates=['date'],
                 dayfirst=True,
                )
df

         date country    video  views  likes
0  2022-01-01      US  Video_A   2000     40
1  2020-01-02      CA  Video_B   3000     15
2  2022-01-03      US  Video_C   1010    101
3  2022-01-03      CA  Video_C   1010    101
4  2022-01-03      GB  Video_C   1010    101
5  2022-01-04      US  Video_C   1020    102
6  2022-01-04      CA  Video_C   1020    102
7  2022-01-04      GB  Video_C   1020    102
8  2022-01-05      US  Video_C   1030    103
9  2022-01-05      CA  Video_C   1030    103
10 2022-01-05      GB  Video_C   1030    103
11 2022-01-06      US  Video_C   1040    104
12 2022-01-06      CA  Video_D   1000     70

**Delete those videos that are present in 2 or more countries at the same time, since we can't know what contribution (likes and views) each country has made.**

In [3]:
df_last = df.drop_duplicates(subset=['video'], keep='last')
df_last

         date country    video  views  likes
0  2022-01-01      US  Video_A   2000     40
1  2020-01-02      CA  Video_B   3000     15
11 2022-01-06      US  Video_C   1040    104
12 2022-01-06      CA  Video_D   1000     70

**Summing up the likes and views by country**

In [4]:
df_group = df_last.groupby(by=['country']).agg('sum')
df_group

         views  likes
country
CA        4000     85
US        3040    144

**Calculate the ratio of likes to views by country.**

In [5]:
df_group['like / view'] = df_group['likes'] / df_group['views']
df_group

         views  likes  like / view
country
CA        4000     85     0.021250
US        3040    144     0.047368